html, body {
	max-width: 100%;
	background-color: rgb(13, 13, 13);
}

h1, h2, h3, h4, h5, h6, p, button, span {
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(191, 191, 191);
}

h1, h2, h3 {
	text-align: center;
}

p, span {
	color: rgb(242, 242, 242);
}

p {
	font-size: 1.2em;
}

button {
	border: 2px solid white;
	border-radius: 5px;
	height: 2em;
	background-color: transparent;
	color: rgb(242, 242, 242);
	font-size: 1.2em;
	box-sizing: border-box;
}

button:hover {
	border: 2px solid rgb(102, 224, 255);
	color: rgb(102, 224, 255);
	cursor: pointer;
}

.container {
	width: 100%;
}

.container-button {
	width: 80%;
	margin: auto;
}

.container-size, .container-current-size {
	width: 80%;
	margin: auto;
}

.container-size span, .container-size input {
	display: inline-block;
	width: 20%;
}

.container-current-size {
	font-size: 1.5em;
}

.container-size input {
	margin-bottom: 0.5em;
}

.button-set-size {
	width: 100%;
}

.container-button + .container-button {
	margin-top: 1em;
}

.play {
	clear: both;
	width: 40%;
	text-align: center;
	margin: auto;
}

.button-advance, .button-advance-once, .button-clear {
	float: left;
	margin-left: 5%;
	width: 25%;
}

.text-save, .text-load {
	width: 100%;
	height: 1em;
	resize: none;
	display: inline-block;
	vertical-align: middle;
}

.button-save, .button-load {
	margin-top: 1em;
	width: 100%;
}

.container.game {
	position: relative;
	width: 40%;
	margin: auto;
	float: left;
}

.title {
	font-size: 2em;
}

.canvas-cells {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.canvas-add {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.options {
	width: 30%;
	float: left;
}

.rules {
	max-width: 25%;
	float: right;
}

button img {
	vertical-align: middle;
}

button span {
	display: inline-block;
	vertical-align: middle;
}